.news__country {
  flex: 0 0 159px;
  padding-left: 6px;
  border-left: 1px solid;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .news__selectcountry {
    width: 100%;
    outline: none;
    border: 1px solid;
    option {
      max-width: 135px;
    }
  }
  // .fa-search:before {
  //   content: '\f002';
  // }
}
